body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: url("../img/shop/bg-light.png");
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 8px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}
.button:hover, .button:focus, .button:active {
  background-color: #663d15;
}
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  min-height: 73px;
  background-color: #000000;
}

.main-container {
  padding: 0;
  margin: 0 auto;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-container .main-header-logo {
  width: 111px;
  height: 24px;
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-navigation {
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  min-height: 73px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 500px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.user-navigation {
  max-width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}
.user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("../img/price/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.user-navigation .login-link:hover::before, .user-navigation .login-link:focus::before, .user-navigation .login-link:active::before {
  opacity: 1;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.big-title {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.breadcrumbs {
  width: 300px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 20px;
  color: #000000;
}
.breadcrumbs span {
  color: #aba9a7;
}

.breadcrumbs-current {
  margin: 0 0;
  padding: 0 0 0 25px;
  position: relative;
}
.breadcrumbs-current::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #aba9a7;
}

.item-colums {
  width: 940px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-colum {
  width: 220px;
}

.producers {
  border: none;
  padding: 0;
  margin: 0;
}
.producers .legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.producers-items, .group-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.producer-checkbox, .group-items {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}
.producer-checkbox:hover, .producer-checkbox:focus, .group-items:hover, .group-items:focus {
  color: #663d15;
}

.producer-checkbox input[type=checkbox] + .checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.producer-checkbox input[type=checkbox]:checked + .checkbox-indicator::before,
.producer-checkbox input[type=checkbox]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.producer-checkbox input[type=checkbox]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.producer-checkbox input[type=checkbox]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.group-items input[type=checkbox] + .radio-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.group-items input[type=checkbox]:checked + .radio-indicator::before,
.group-items input[type=checkbox]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.products-group {
  border: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
.products-group .legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.products-group-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.products-group legend {
  font-size: 24px;
  line-height: 30px;
}

.right-colum {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-product {
  height: 286px;
  width: 220px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.product-name {
  line-height: 18px;
  color: #000000;
  margin-left: 15px;
}

.button-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.catalog-price {
  display: inline-block;
  width: 109px;
  height: 43px;
  background-color: #e5e5e5;
  border: none;
  text-align: center;
  color: #000000;
  line-height: 45px;
}

.catalog-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  height: 43px;
  width: 78px;
}
.catalog-button:hover, .catalog-button:focus, .catalog-button:active {
  background-color: #663d15;
}
.catalog-button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.list-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  margin-top: 30px;
  margin-right: 7px;
  height: 43px;
  width: 43px;
}
.list-button:hover, .list-button:focus, .list-button:active {
  background-color: #ffffff;
  color: #000000;
}
.list-button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-footer {
  color: #ffffff;
  background-color: #212121;
  background-image: url("../img/price/bg-dark.png");
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 55px;
  padding: 60px 0;
  min-height: 190px;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}
.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}
.footer-contacts a :hover, .footer-contacts a :focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  min-height: 193px;
  text-align: center;
}
.footer-social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
}
.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43px;
  height: 43px;
  margin-bottom: 10px;
}
.social-button:hover, .social-button:focus {
  background-color: #ffffff;
}
.social-button:hover path, .social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}
.footer-copyright .button:hover, .footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}
.footer-copyright.button {
  display: block;
  margin-right: 0;
}
.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}