body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    background-image: url(img/item/bg-light.png);
    background-position: top center;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}
.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}
.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color:#ffffff;
    background-color:#000000;
}
.site-navigation,
.user-navigation {
    list-style:none;
}
.site-navigation a,
.user-navigation a {
    color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}
.main-title {
    font-size: 30px;
    line-height: 42px;
}
.navigation-list {
    list-style: url(img/item/list-style.png);
}
.navigation-list li:first-child {
    list-style: none;
}
.navigation-list a {
    color: black;
}
.item-desc a {
    color: #aeaeae;
}
.price {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #e5e5e5;
    border: none;
}
.item-list h2 {
    font-size: 24px;
    line-height: 30px;
}
.item-list ul {
    list-style: url(img/item/list-style.png);
}
.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-image: url(img/index/pattern-dark.png);
    background-position: 0 0;
    background-repeat: repeat;
}
.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a :hover,
.footer-contacts a :focus {
    text-decoration: none;
}
.footer-social {
    text-align: center;
}
.footer-social ul {
    list-style: none;
}
.social-button {
    color: #ffffff;
}
.footer-copyright {
    text-align: center;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}


/* Сеточные стили */
.main-header {
    height: 72px;
    width: 1200px;
    margin-bottom: 55px;    
}
.main-navigation {
    display: flex;
}

.main-header-logo {
    margin-left: 150px;
    margin-right: 40px;
    margin-top: 29px;
}
.main-navigation-wrapper {
    width: 750px;
    height: 72px;
}
.container {
    width: 940px;
    padding: 0 10px;
    margin-right: 150px;
}
.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}
.site-navigation {
    width: 500px;
    height: 72px;
    padding: 0;
    margin: 0;
    margin-top: 29px;
    
    display: flex;
    justify-content: space-between;
}
.user-navigation {
    width: 140px;
    height: 72px;
    margin-right: 150px; 
    margin-top: 29px;
}
.main-title {
    margin-bottom: 28px;
    margin-left: 130px;
}
.navigation-list {
    width: 620px;
    height: 12px;
    margin-bottom: 58px;
    margin-left: 130px;
    padding: 0;
 
    display: flex;
    justify-content: space-between;
}
.item-columns {
    height: 697px;
    width: 943px;
    margin-bottom: 49px;
    margin-left: 116px;
    display: flex;
    justify-content: space-between;

}
.gallery {
    min-height: 697px;
    width: 460px;
    padding: 14px;
}
.items-desc-wrappen {
    min-height: 697px;
    width: 469px;
    margin-left: 77px;
    padding: 0;
}
.item-desc-subtitle {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.features {
    min-height: 171px;
    width: 380px;
}
.item-list {
    padding-left: 0;
}

.item-list-title {
    margin-top: 75px;
    margin-bottom: 19px;
}






.main-footer {
    margin-top: 50px;
    padding: 60px 0;
}
.main-footer .container {
    display: flex;
}
.footer-contacts {
    margin: 0;
    width: 320px;
    margin-right: 80px;
}
.footer-social {
    width: 145px;
/* tepprorary for grid */
    min-height: 100px;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
    /* tepprorary for grid */
    min-height: 100px;
}
  
    
